main {
  min-height: 80vh;
  padding-top: 0;
}

.rating span {
  margin: 0.1rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.price {
  padding: 1rem 0;
  font-size: medium;
}

.hero-text {
  position: absolute;
  top: 45%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: left;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero-text button {
  background-color: #4CAF50;
  color: white;
  padding: 1rem 2rem;
  border-radius: 2px;
  font-size: 1.5rem;
}

.green-txt {
  color: #8BC34A;
}